name: Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
    
      - name: Dump context
        run: echo '${{ github.event.head_commit.message }}'
