name: Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
    
      - name: Dump context
        run: echo echo "$(</home/runner/work/_temp/_github_workflow/event.json)"
